@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
}

body {
  background: url('../img/Music\ Desktop\ Wallpaper.png');
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

section {
  display: flex;
}

header {
  width: 100%;
  top: 0px;
  left: 0px;
  height: 80px;
  right: 0px;
  padding: 15px;
  z-index: 10;
  position: static; 
  animation: direc 0.5s;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo .texto-logo img {
  width: 150px;
}
header .container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav ul li {
  display: flex;
  align-items: center;
}
header .container nav ul li .btn_active:hover {
  border-bottom: 2px solid #334155;
}
header .container .logo a {
  font-size: 1.3rem !important;
  color: #ffffff;
}
header .container .logo a span {
  color: #334155;
}
header .container nav ul li a {
  margin: 0px 5px;
  color: #fff9f9;
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

.menu{
  display: none;
}

.menu-mobile.abri{
  visibility: visible;
}

.menu-mobile{
  position: absolute;
  top: 80px;
  visibility: hidden;
  overflow: hidden;
}
.menu-mobile nav ul li a {
  display: block;
  padding: 20px 30px;
}

.linha{
  position: relative;
  height: 3px;
  background: #ffffff;
  width: 25px;
  display: block;
  margin: 5px auto;
  transform-origin: center;
  transition: .2s;
}

.logo2{
  margin-top: 30px;
  width: 50%;
}

#btn-menu{
  background: transparent;
  visibility: visible;
  cursor: pointer;
}
#btn-menu.ativo{
  border: 2px solid rgb(255, 255, 255);
}
#btn-menu.ativo .linha:nth-child(1){
  transform: translateY(8px) rotate(-45deg);
  background-color: #334155;
}
#btn-menu.ativo .linha:nth-child(3){
  transform: translateY(-8px) rotate(45deg);
  background-color: #334155;
}
#btn-menu.ativo .linha:nth-child(2){
  width: 0;
}


@media (max-width: 400px) {

  .menu-mobile{
    transition: 1s;
    left: 150px;
  }

  #btn-menu{
    
    transition: 1s;
    margin-left:130px;
  }
  
}

@media (min-width: 400px) {

  .menu-mobile{
    transition: 1s;
    left: 250px;
  }

  #btn-menu{
    margin-left:270px;
  }
  
}

@media (min-width: 450px) {

  .menu-mobile{
    left: 310px;
  }

  #btn-menu{
    margin-left: 340px;
  }
  
}
@media (min-width: 529px) {

  .menu-mobile{
    left: 355px;
  }

  #btn-menu{
    margin-left: 364px;
  }
  
}

@media (min-width: 575px) {

  .menu-mobile{
    left: 380px;
  }

  #btn-menu{
    margin-left: 375px;
  }
  
}

@media (min-width: 620px) {

  .menu-mobile{
    left: 400px;
  }

  #btn-menu{
    margin-left: 404px;
  }
  
}

@media (min-width: 655px) {

  .menu-mobile{
    left: 470px;
  }

  #btn-menu{
    margin-left: 501px;
  }
  
}

@media (min-width: 680px) {

  .menu-mobile{
    left: 500px;
  }

  #btn-menu{
    margin-left: 520px;
  }
  
}

@media (min-width: 720px) {

  .menu-mobile{
    left: 535px;
  }

  #btn-menu{
    margin-left: 555px;
  }
  
}

@media (min-width: 750px) {

  .menu-mobile{
    left: 635px;
  }

  #btn-menu{
    margin-left: 850px;
  }
  
}


@media (min-width: 1050px){
.menu-mobile {
    left: 1000px;
}
}
@media (max-width: 1536px) {
  header .container {
    display: flex;
    flex-direction: column;
  }
  header .container .logo .texto-logo img {
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
  }
  header .container nav ul {
    display: flex;
    flex-direction: column;
  }
  header .container nav ul li {
    margin-bottom: 5px;
  }

  .logo{
    width: 100%;
  }
}

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  min-height: 100vh;
  padding: 100px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #334155;
  -webkit-box-shadow: 5px 5px 10px #00000083, -5px -5px 10px #00000083;
          box-shadow: 5px 5px 10px #00000083, -5px -5px 10px #00000083;
  border-radius: 5px;
  color: white;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #334155, #6b89b3, #9ac2fc);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #334155, #6b89b3, #9ac2fc);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
}

.slide {
  overflow: hidden;
}

.s-principal {
  padding-top: 50px;
}
.s-principal .container .principal {
  margin-top: -150px;
  width: 65%;
  margin-left: -100px;
}
.s-principal .container .principal .texto-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.s-principal .container .principal .texto-principal .texto {
  margin-left: -142px;
  width: 64%;
  -webkit-animation: textoPrincipal 5s ease-in-out infinite;
          animation: textoPrincipal 5s ease-in-out infinite;
}
.s-principal .container .principal .texto-principal .texto h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: start;
  font-size: 32px;
  color: #334155;
}
.s-principal .container .principal .texto-principal .texto h1 span {
  font-size: 25px;
  color: #ffffff;
}
.s-principal .container .principal .texto-principal .texto-sobre-mim {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.s-principal .container .principal .texto-principal .texto-sobre-mim .texto-description {
  margin-top: 41px;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}
.s-principal .container .principal .texto-principal .texto-sobre-mim .texto-description p {
  margin-top: 15px;
  text-align: justify;
  font-size: 16px;
  color: #ffffff;
}
.s-principal .container .principal .texto-principal .texto-sobre-mim .texto-description p hr {
  color: #9ac2fc;
}
.s-principal .container .principal .texto-principal .texto-sobre-mim .texto-description #apresentation {
  display: none;
}
.s-principal .container .principal .texto-principal .image {
  width: 80vh;
  display: flex;
  margin: 20px;
}
.s-principal .container .principal .texto-principal .image img {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.s-principal .container .principal .texto-principal .texto-obs {
  -webkit-animation: textoError 6S ease-in-out infinite;
          animation: textoError 6S ease-in-out infinite;
}
.s-principal .container .principal .texto-principal .texto-obs .texto {
  display: flex;
  align-items: center;
  width: 50%;
  background: rgb(6, 31, 68);
  border-radius: 0px 10px 10px 0px;
  box-shadow: 1px 2px 8px #03107c;
  padding: 15px;
  margin: 20px;
  -webkit-animation: textoPrincipal 5s ease-in-out infinite;
          animation: textoPrincipal 5s ease-in-out infinite;
}
.s-principal .container .principal .texto-principal .texto-obs .texto p {
  text-align: justify;
  word-wrap: break-word;
  letter-spacing: 2px;
  color: #fff;
}

@media (max-width: 600px) {

  .s-principal .container .texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .s-principal .container .texto-principal .texto {
    text-align: justify;
  }
  .s-principal .container .texto-principal .image {
    justify-content: center;
  }
  .s-principal .container .texto-principal .image img {
    width: 50vh;
  }
}

.s-projectos {
  position: relative;
}
.s-projectos .container {
  width: 100%;
}
.s-projectos .container .texto-projectos {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.s-projectos .container .texto-projectos h2 {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 35px;
}
.s-projectos .container .lista-projectos {
  margin-top: 50px;
  margin-bottom: 50px;
}
.s-projectos .container .lista-projectos .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.s-projectos .container .lista-projectos .card .lista-projecto-2, .s-projectos .container 
.lista-projectos .card .lista-projecto-1 {
  display: flex;
  gap: 10px;
}

.s-projectos .container .lista-projectos .card .project-description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  color: #fff;
  margin-bottom: 20px;
} 

.s-projectos .container .lista-projectos .card .project-description h2 {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  background: #334155;
  box-shadow: 1px 2px 8px #1b222c;
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
.s-projectos .container .lista-projectos .card .project-description h3 {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #64748b;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.s-projectos .container .lista-projectos .card .project-description a {
  display: contents;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: #fff;
  border-radius: 7px 0px 0px 0px;
  margin-left: 20px;
}
.s-projectos .container .lista-projectos .card .project-description a:hover {
  border: 1px solid #516786;
  border-bottom: 5px solid #334155;
  background: #FFFFFF;
  color: #415877;
}

.zoom-img img{
  width: 100%;
  object-fit: cover;
  transition: transform 0.8s;
}

.zoom-img:hover img {
  transform: scale(1.1);

}

@media (max-width: 1200px) {
  .s-projectos .container .lista-projectos .card {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }

  .s-projectos .container .lista-projectos .card .lista-projecto-1, .s-projectos .container 
  .lista-projectos .card .lista-projecto-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.s-conhecimentos {
  width: 100vw;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.s-conhecimentos .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s-conhecimentos .container .texto-conhecimento {
  margin-top: 15px;
  margin-bottom: 15px;
}

.s-conhecimentos .container .texto-conhecimento h2 {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.s-projectos .container .lista-projectos .card .project-description .imagem-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: unset;
}

@media (max-width: 900px) {
  .s-conhecimentos .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .s-conhecimentos .skills .soft-skills, .s-conhecimentos .skills .hard-skills {
    width: 100%;
    max-width: 300px;
  }

  .s-conhecimentos .skills .soft-skills ul, .s-conhecimentos .skills .hard-skills ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .s-conhecimentos .skills .soft-skills .texto-skills, .s-conhecimentos .skills .hard-skills .texto-skills {
    width: 80vh;
    max-width: 250px;
  }
}

@media (max-width: 900px) {
  .s-projectos .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

}

/* Mudar as configurações do meu container */
.container {
  width: 80% !important;
  width: 100%;
  max-width: 1095px;
  padding: 0 0px;
  margin: 0 auto;
}

/* Banner */
.mk__banner {
  height: 550px;
  background: url('../img/Music\ Desktop\ Wallpaper.png') no-repeat;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.mk__banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-card-experiencia .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
s-principal .container .principal .texto-principal .texto
.mk_experiencia .texto-eperiencia h2,
.mk__conhecimentos h2,
.mK__certificados h2 {
  font-size: 2rem !important;
}


@media (max-width: 736px) {

  .s-principal .container .principal .texto-principal .texto h1{
    font-size: 20px;
  }

  .s-principal {
    width: 100%;
    margin-bottom: 150px;
  }
  .s-principal .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .s-principal .container img {
    width: 90vw;
  }
  .s-principal .container .principal .texto-sobre-mim .texto-description #apresentation,
  .s-principal .container .principal .texto-sobre-mim .texto-description span {
    font-size: 14px;
  }
  
}

footer {
  padding: 30px 0px 0px 0px;
  background: transparent;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 7px solid #334155;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .minha-image {
  width: 50%;
}

footer .container .minha-image .image {
  width: 200px;
}

footer .texto-bottom {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer .texto-bottom p {
  padding: 15px;
  text-align: center;
  color: #334155;
  border-bottom: 7px solid #334155;
}

@media  screen and (max-width: 600px) {
  footer .container {
    display: flex;
    flex-direction: column;
  }
}

.btn-header {
  width: 130px;
  padding: 15px;
  border-radius: 7px;
  background: #334155;
  box-shadow: 1px 3px 2px #e2e8f0;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  line-height: 7px;
  outline: none;
  margin-left: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.btn-header:hover {
  border: 1px solid #334155;
  border-bottom: 5px solid #334155;
  background: #FFFFFF;
  color: #334155;
}

.btn-skills, .btn-soft {
  padding: 0px 10px 0px 10px;
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: lowercase;
  font-weight: 700;
}

.contactos, .social {
  width: 100%;
  margin: 5px;
}

.contactos h2, .social h2 {
  margin-top: 10px;
  padding: 5px;
  background: #334155;
  box-shadow: 1px 2px 10px #334155;
  border-radius: 0px 10px 10px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.contactos ul, .social ul {
  background: #334155;
  box-shadow: 1px 2px 8px #334155;
  border-radius: 0px 10px 10px 0px;
  padding: 15px;
}
.contactos ul li h3, .social ul li h3 {
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 500px)  {
  *{
    font-size: 16px;
  }

  .btn-header{
    font-size: 8px;
  }
  
}

.principal{
  animation: esque 0.5s;
}

.design-section,.contactos{
  animation: esque 1ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 25%;
}

#projetos{
  animation: invis 1ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 35%;
}

.social{
  animation: direc 1ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 25%;
}

@keyframes esque{
  from{
    opacity: 0;
    translate: -100vw 0;
  }

  to{
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes direc{
  from{
    opacity: 0;
    translate: 100vw 0;
  }

  to{
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes invis{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}


@-webkit-keyframes textoPrincipal {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes textoPrincipal {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes textoError {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes textoError {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}